@import "~bootstrap/dist/css/bootstrap.min.css";
#suitDown {
  transform: rotate(180deg);
}

.card {
  width: 200px;
  height: 300px;
}

body {
  background-color: green;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.suit {
  color: red;
}
